@import-normalize;

:root {
    --primary: rgb(230, 230, 230);
    --background-primary: rgb(17, 17, 17);
    --background-header: rgb(22, 0, 0);
    --font-1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--primary);
    font-family: var(--font-1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10vw;
    height: 75px;
    background-color: var(--background-header);

    .nav-links {
        display: flex;
        gap: 2.5rem;

        a {
            padding: 0.25rem 1rem;
        }
    }

    .active {
        border: 1px dashed gray;
    }
}

.main {
    min-height: calc(92.5vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5rem;

    h1 {
        text-align: center;
        padding: 1rem;
    }
    .scenes {
        display: flex;
        justify-content: center;
        gap: 1rem;

        a {
            width: clamp(100px, 15vw, 200px);
            border: none;
            border-radius: 1rem;
            overflow: hidden;
            cursor: pointer;
            transition: scale 0.25s ease-in-out;

            img {
                width: 100%;
                height: 100%;
            }
        }

        a:hover {
            scale: 1.025;
        }
    }
}

.footer {
    display: flex;
    height: 7.5vh;
    justify-content: center;

    .about {
        display: flex;
        align-items: center;
    }

    .github-icon {
        height: 25px;
        padding-left: 10px;
        padding: 0 10px;
        transition: transform 1s ease-in-out;
    }

    .github-icon:hover {
        transform: rotate(360deg);
    }

    a {
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        color: red;
    }
}
