@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: "EmotionEngine";
    src: url("../assets/fonts/EmotionEngine.ttf");
}

:root {
    --primary: snow;
    --background-primary: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgb(45 91 160) 0%,
        rgb(108 182 161) 81.3%
    );
    --background-header: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgb(0 0 0) 0%,
        rgb(30 30 30) 81.3%
    );
    --hover: #fa6865;
    --color2: #fa6865;
    --color3: #7cb1e7;
    --font-1: "Chakra Petch", sans-serif;
    --font-2: "EmotionEngine";
    --font-3: "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-image: var(--background-primary);
    color: var(--primary);
    font-family: var(--font-1);
    position: relative;
    overflow-x: hidden;
    user-select: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10vw;
    height: 75px;
    background-image: var(--background-header);

    .logo {
        font-size: 2.5rem;
        letter-spacing: 0.25rem;
        color: var(--color3);
        font-family: var(--font-2);

        .word {
            font-size: 1.75rem;
            color: var(--color2);
        }

        img {
            height: 20px;
            transform: translate(1px, 1px);
        }
    }

    .nav-links {
        display: flex;
        gap: 2.5rem;
        color: var(--color3);

        a {
            padding: 0.25rem;
            transition: color 0.25s ease-in-out;
        }

        a:hover {
            color: var(--color2);
        }
    }

    .active {
        color: var(--color2);
    }
}

.main {
    min-height: calc(92.5vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5rem;

    h1 {
        text-align: center;
        padding: 2rem;
    }
    .scenes {
        display: flex;
        justify-content: center;
        gap: 1rem;

        a {
            width: clamp(100px, 15vw, 200px);
            border: none;
            border-radius: 1rem;
            overflow: hidden;
            cursor: pointer;
            transition: scale 0.25s ease-in-out;

            img {
                width: 100%;
                height: 100%;
            }
        }

        a:hover {
            scale: 1.025;
        }
    }
}

.game {
    background-image: var(--background-header);
    position: relative;

    .game-img {
        width: 100%;
        margin-bottom: -5px;
        cursor: crosshair;
    }

    .fixed {
        position: fixed;
        right: 0;
        top: 3rem;
        border: 1px dashed var(--color3);
        border-radius: 0.75rem;
        opacity: 0.25;
        transition: all 0.25s ease-in-out;
        scale: 0.75;
        padding: 1rem;

        h1 {
            text-align: center;
            color: var(--color3);
            font-family: var(--font-2);
            letter-spacing: 0.25rem;
            .word {
                font-size: 1rem;
                color: var(--color2);
            }
        }

        .characters {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                transition: all 0.25s ease-in-out;
            }

            img:hover {
                scale: 1.5;
            }

            li {
                display: flex;
                align-items: center;
                gap: 1rem;
                flex-direction: column;
            }

            .crossed.name {
                text-decoration: line-through;
                opacity: 0.5;
            }
        }

        .timer {
            padding: 1rem;
            text-align: center;

            span {
                font-family: var(--font-3);
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--hover);
            }
        }

        .timer::after {
            content: "seconds passed.";
            padding-left: 0.5rem;
        }
    }

    .fixed:hover {
        opacity: 1;
        background-image: var(--background-header);
        scale: 1.25;
        transform: translate(-5rem, 5rem);
        border: none;
    }

    .dropdown {
        position: absolute;

        ul {
            display: flex;
            flex-direction: column;
            padding: 1rem 1.5rem;
            background-image: var(--background-header);
            gap: 0.5rem;
            border-radius: 0 0.75rem 0.75rem 0.75rem;

            li {
                transition: color 0.25s ease-in-out;
                cursor: pointer;
            }

            li:hover {
                color: var(--hover);
            }
        }
    }
}

.leaderboard {
    min-height: calc(92.5vh - 75px);

    .scenes-wrapper {
        padding: 5rem 0;
    }

    h1 {
        text-align: center;
        padding: 1.5rem 0;
    }

    .scenes {
        display: flex;
        justify-content: center;
        gap: 1rem;

        button {
            width: clamp(75px, 10vw, 150px);
            border: none;
            border-radius: 1rem;
            overflow: hidden;
            cursor: pointer;
            transition: scale 0.25s ease-in-out;

            img {
                width: 100%;
                height: 100%;
            }
        }

        button:hover {
            scale: 1.025;
        }

        .active {
            scale: 1.05;
        }
    }

    .leaderboard-data {
        h1 {
            text-transform: uppercase;
        }

        table {
            border-collapse: collapse;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin: auto;
            margin-bottom: 1rem;
            border-radius: 0.75rem;
        }

        th,
        td {
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.25);
            color: #2c2c2c;
        }

        th {
            text-align: left;

            &:nth-child(2) {
                width: 50vw;
            }
        }

        thead {
            background-image: var(--background-primary);
        }

        tbody {
            tr {
                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }

            td {
                position: relative;

                &:hover {
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: -9999px;
                        bottom: -9999px;
                        background-color: rgba(255, 255, 255, 0.2);
                        z-index: -1;
                    }
                }

                &:first-child {
                    font-weight: bold;
                    text-align: right;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    min-height: 50vh;
    width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: var(--background-header);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    z-index: 50;
    border-radius: 0.75rem;
    padding: 1rem;

    h1 {
        color: var(--color2);
    }

    h2 {
        font-weight: normal;
    }

    h2 span {
        font-family: var(--font-3);
        font-weight: bold;
        color: var(--hover);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .input {
            background-color: rgb(106 0 0 / 10%);
            border: 1px dashed var(--color3);
            border-radius: 0.75rem;
            width: 25vw;
            min-width: 200px;
            color: var(--color3);
            transition: all 0.25s ease-in-out;
            padding: 0.5rem 1rem;
        }

        .input:hover {
            scale: 1.1;
        }
    }

    .btn {
        padding: 0.5rem 2rem;
        color: var(--color3);
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        background-color: inherit;
        border: 1px dashed var(--color3);
        border-radius: 0.75rem;
    }

    .btn:hover {
        color: var(--hover);
    }

    .close-btn {
        position: absolute;
        top: 0.5rem;
        right: 0;
        border: none;
    }

    .close-btn::after {
        content: "x";
        font-size: 1.5rem;
    }

    .starter-characters {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1rem;
            gap: 0.5rem;
            color: var(--color3);
        }
    }

    .countdown {
        font-size: 3rem;
        color: var(--color3);
    }
}

.modal.hidden {
    visibility: hidden;
}

.footer {
    display: flex;
    height: 7.5vh;
    justify-content: center;
    background-image: var(--background-header);

    .about {
        display: flex;
        align-items: center;
    }

    .github-icon {
        height: 25px;
        padding-left: 10px;
        padding: 0 10px;
        transition: transform 1s ease-in-out;
    }

    .github-icon:hover {
        transform: rotate(360deg);
    }

    a {
        transition: color 0.2s ease-in-out;
        color: var(--color3);
    }

    a:hover {
        color: var(--hover);
    }
}

.snackbar {
    min-width: 250px;
    background-image: var(--background-header);
    color: var(--hover);
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vh;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.disabled {
    pointer-events: none;
}

.text-shadow {
    text-shadow: 1px 1px 5px black;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(37, 37, 37);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color3);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover);
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 10vh;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 10vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
